# Compiled files
*.pyc
*.pyo
*.pyd
*.so
*.dll
*.exe

# Byte-compiled files
__pycache__/

# Logs and databases
*.log
*.sqlite3

# Environment variables
.env

# IDE files
.vscode/
.idea/

# Dependency directories
venv/
node_modules/

# Compiled output
dist/
build/
*.egg-info/

# Temporary files
*.tmp
*.bak
*.swp
*~

# Ignore personal configuration files
config.ini
secrets.ini

# Ignore model files
inference/models/
inference/stream/
assets/
inference/pyds-1.1.11-py3-none-linux_x86_64.whl
inference/rtsp.py
*.jpg
*.mp4